In [114]:
#data
import pandas as pd
import numpy as np

#Plots
import matplotlib.pyplot as plt

#linear regiression nModel Building Library
import sklearn.linear_model

In [115]:
data = pd.read_csv('ratings_small.csv')

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [117]:
df = pd.DataFrame(data[['movieId','rating']])

In [118]:
average_rating = df.groupby(['movieId'])['rating'].mean()

In [119]:
df['average_rating'] = average_rating

In [120]:
df['average_rating']

0              NaN
1         3.872470
2         3.401869
3         3.161017
4         2.384615
            ...
99999          NaN
100000         NaN
100001         NaN
100002         NaN
100003         NaN
Name: average_rating, Length: 100004, dtype: float64

In [121]:
df['rating_count'] = df.groupby(['movieId'])['rating'].count()

In [122]:
topten = df.nlargest(10,'rating_count')

In [123]:
topten

      movieId  rating  average_rating  rating_count
356       231     3.5        4.054252         341.0
296      2263     3.0        4.256173         324.0
318      2791     5.0        4.487138         311.0
593       457     4.5        4.138158         304.0
260      2005     5.0        4.221649         291.0
480      2890     3.0        3.706204         274.0
2571   116797     0.5        4.183398         259.0
1        1029     3.0        3.872470         247.0
527       551     4.0        4.303279         244.0
589       282     2.0        4.006329         237.0

In [124]:
X = data.iloc[:, 0]
y = data.iloc[:, 2]
X = data[['userId']]
y = data.rating
X.shape

(100004, 1)

In [125]:
model = sklearn.linear_model.LinearRegression()
model.fit(X, y)
y_predicted = model.predict(X)

In [126]:
print(y_predicted)

[3.52397388 3.52397388 3.52397388 ... 3.56199296 3.56199296 3.56199296]

In [127]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25)

In [128]:
from sklearn.neighbors import KNeighborsRegressor 
knn_model = KNeighborsRegressor(n_neighbors=3,)
knn_model.fit(X_train, y_train)
y_pred = knn_model.predict(X_test)

In [129]:
from sklearn.metrics import mean_squared_error
from math import sqrt
y_preds = knn_model.predict(X_train)
mse = mean_squared_error(y_train, y_preds)
rmse = sqrt(mse)
print(rmse)

1.0791615785913562

In [136]:
data.loc[(data['userId'] == 4) & (data['movieId'] == 10)]

     userId  movieId  rating  timestamp
147       4       10     4.0  949810645